<div class="">
  <div class="container row">

    <h2>Library Portal</h2>
  </div>
  <nav class="navbar navbar-light bg-light justify-content-between border">
  <a class="navbar-brand">Library</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary  my-sm-0" type="submit" style="border-radius:0px;">Search</button>
  </form>
  

  <button class="btn btn-primary" style="border-radius:0px;">Login</button>
</nav>

  <div class="row">
    <div class="col-sm-4 col-lg-2">
      <test1></test1>
    </div>
    <div class="border-left border-right col">
      <maincontent></maincontent>
    </div>
</div>

